<!DOCTYPE html>
<html>
<head>
<title></title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<#if shiro.hasPermission("basearticle:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("basearticle:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("basearticle:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
		  <div class="form-group">
			   	<div class="col-sm-2 control-label">标题</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="baseArticle.title" placeholder="标题"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">描述</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="baseArticle.description" placeholder="描述"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">内容</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="baseArticle.content" placeholder="内容"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">标签</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="baseArticle.tag" placeholder="标签"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">类型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="baseArticle.type" placeholder="类型"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">发表人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="baseArticle.userId" placeholder="发表人"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">发布状态</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="baseArticle.status" placeholder="1发布0未发布"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">是否置顶</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="baseArticle.isTop" placeholder="1是0否"/>
			    </div>
			</div>
<!-- 			<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="baseArticle.createTime" placeholder="创建时间"/>
			    </div>
			</div> -->
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/generator/basearticle.js?_${.now?long}"></script>
</body>
</html>